@model Projectwebapp.Models.Sender;
@{
    ViewData["Title"] = "Getorder";
}

<h1 class="text-center">รับยอดอาหาร</h1>
<br />
<br />
<div class="row g-0 bg-body-secondary position-relative">
    <span class="border border-5 ">
        <br /><br />
        <div class=" text-center">
            <div class="pic">
                <img src="@Model.Pictures" width="800px;" height="500px;">
            </div><br /><br />
            <div class=" text-center">
                <h5>ชื่อ : @Model.RecipientName</h5>
                <h5>รหัส : @Model.OrderID </h5>
                <h5>ร้าน : @Model.FoodStore</h5>
                <h5>อาหาร : @Model.FoodMenu_Option</h5>
                <h5>ที่อยู : @Model.RecipientAddress</h5>
                <h5>เบอร์โทร : @Model.PhoneNumber</h5>
            </div>
        </div><br /><br />
    </span>
</div>
<br />
<br />
<br />
<div class="text-center">
    <a class="btn btn-danger" asp-controller="Sender" asp-action="Index">back </a>
    <a class="btn btn-info" href="@Url.Action("Confirm", "Sender", new { id = Model.OrderID })">submit</a>
</div>
